In [1]:
import pandas as pd
import numpy as np

# нам понадобится отрисовка графиков

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('analysisdata.csv', sep = ',', header = None, 
                   names = ['season','size','speed','mxPH','mnO2','Cl',
                            'NO3','NH4','oPO4','PO4','Chla','a1','a2','a3','a4',
                            'a5','a6','a7'])

In [3]:
df.loc[df['mxPH']=='XXXXXXX', 'mxPH'] = np.nan
df.loc[df['mnO2']=='XXXXXXX', 'mnO2'] = np.nan
df.loc[df['Cl']=='XXXXXXX', 'Cl'] = np.nan
df.loc[df['NO3']=='XXXXXXX', 'NO3'] = np.nan
df.loc[df['NO3']=='XXXXXXX', 'NO3'] = np.nan
df.loc[df['NH4']=='XXXXXXX', 'NH4'] = np.nan
df.loc[df['oPO4']=='XXXXXXX', 'oPO4'] = np.nan
df.loc[df['PO4']=='XXXXXXX', 'PO4'] = np.nan
df.loc[df['Chla']=='XXXXXXX', 'Chla'] = np.nan

In [4]:
# приведение к числовому формату
df['mxPH']= df['mxPH'].astype('float')
df['mnO2']= df['mnO2'].astype('float')
df['Cl']= df['Cl'].astype('float')
df['NO3']= df['NO3'].astype('float')
df['NH4']= df['NH4'].astype('float')
df['oPO4']= df['oPO4'].astype('float')
df['PO4']= df['PO4'].astype('float')
df['Chla']= df['Chla'].astype('float')

In [5]:
df.drop(['a7'], axis=1, inplace=True)

In [7]:
df

,season,size,speed,mxPH,mnO2,Cl,NO3,NH4,oPO4,PO4,Chla,a1,a2,a3,a4,a5,a6
0,winter,small_,medium,8.00,9.8,60.8000,6.238,578.00000,105.000,170.00000,50.000,0.0,0.0,0.0,0.0,34.2,8.3
1,spring,small_,medium,8.35,8.0,57.7500,1.288,370.00000,428.750,558.75000,1.300,1.4,7.6,4.8,1.9,6.7,0.0
2,autumn,small_,medium,8.10,11.4,40.0200,5.330,346.66699,125.667,187.05701,15.600,3.3,53.6,1.9,0.0,0.0,0.0
3,spring,small_,medium,8.07,4.8,77.3640,2.302,98.18200,61.182,138.70000,1.400,3.1,41.0,18.9,0.0,1.4,0.0
4,autumn,small_,medium,8.06,9.0,55.3500,10.416,233.70000,58.222,97.58000,10.500,9.2,2.9,7.5,0.0,7.5,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,summer,medium,high__,8.12,10.2,7.6130,0.699,33.56000,28.034,49.65800,2.200,18.1,1.7,2.0,0.0,1.7,5.9
329,winter,large_,low___,8.43,10.8,35.6420,6.225,134.00000,103.500,NaN,45.375,1.1,3.9,2.1,0.0,3.9,4.6
330,winter,large_,low___,8.70,11.7,21.4656,3.765,91.45000,38.000,83.00000,17.000,0.0,4.7,0.0,0.0,2.6,2.6
331,summer,large_,low___,8.10,8.2,26.5400,2.805,42.75000,48.500,88.12500,13.980,0.0,12.0,1.7,0.0,2.7,0.0
332,autumn,large_,low___,8.35,11.1,22.5600,3.140,76.20000,41.000,98.66500,17.456,1.7,7.0,1.2,0.0,4.8,3.1