In [27]:
import pandas as pd
import numpy as np
import os, json
from pandas.io.json import json_normalize
import statistics as st

In [13]:
df = pd.read_json('4day.json')
# df

In [14]:
dot_list = [] # Список названий точек измерений
for i in df['datasets']:
    for new_s, new_val in i.items():
        dot_list.append(new_s)

In [15]:
j = 0 # Проход по каждой точке
df_result = pd.DataFrame()
for item in df["datasets"]:
    dict_value = item[dot_list[j]]['reps']["REP_1"]['data']
    columns_names = dict_value.keys()
    
    df_value = pd.DataFrame(dict_value.items())
    df_value = df_value.T
    df_value.columns = df_value.iloc[0]
    df_value = df_value[1:]
    df_value = df_value.set_index(['timestamp']).apply(pd.Series.explode).reset_index()
    df_value.drop(columns=['timestamp'], inplace = True)
    
    df_result = df_result.append(df_value.mean().to_frame().T)

    j += 1
df_result['Dot'] = dot_list

In [16]:
j = 0 # Добавление координат точек
latitude_list = []
longitude_list = []
for item in df["datasets"]:
    latitude = item[dot_list[j]]['reps']["REP_1"]['header']['latitude']
    latitude_list.append(latitude)
    
    longitude = item[dot_list[j]]['reps']["REP_1"]['header']['longitude']
    longitude_list.append(longitude)

    j += 1
df_result['latitude'] = latitude_list
df_result['longitude'] = longitude_list

In [17]:
df_result

,chamber_p,chamber_p_t,chamber_t,soil_t,soilp_c,soilp_m,soilp_t,ch4,co2,h2o,err,Dot,latitude,longitude
0,100.239752,31.906071,25.810817,9999.0,0.011000,0.100000,26.280000,1995.998667,482.014705,24.841982,0.0,Dot_1,44.57887,37.97349
0,100.107133,34.316670,26.042654,9999.0,0.037000,0.244238,26.247619,1992.825905,499.350819,25.653075,0.0,Dot_2,44.57914,37.97299
0,99.966977,35.745733,26.634693,9999.0,0.037638,0.244495,26.697143,1996.811429,505.284981,26.479883,0.0,Dot_3,44.57985,37.97207
0,99.945604,36.133319,25.737369,9999.0,0.009810,0.090381,26.700000,1993.931524,457.469200,22.717621,0.0,Dot_4,44.58009,37.97146
0,100.015094,36.316923,28.619174,9999.0,0.020600,0.150333,26.904762,1996.791714,482.451886,25.341671,0.0,Dot_5,44.57958,37.97151
0,100.106171,36.643752,27.115753,9999.0,0.009333,0.094990,28.000000,1994.282095,478.272552,26.160128,0.0,Dot_6,44.57909,37.97079
0,100.124238,37.559560,28.215607,9999.0,0.010438,0.097248,28.600000,1992.503429,464.168676,24.473872,0.0,Dot_9,44.57903,37.97137
0,100.129733,38.013533,28.453488,9999.0,0.020143,0.149095,29.214286,1994.775048,473.910152,24.242157,0.0,Dot_8,44.57924,37.97219
0,100.286067,37.302918,29.853302,9999.0,0.021029,0.150438,28.991429,1994.173524,473.175324,25.046267,0.0,Dot_7,44.57850,37.97272
0,100.403771,37.683750,27.485199,9999.0,0.012362,0.107914,29.820000,1991.493143,461.161248,23.723212,0.0,Dot_11,44.57818,37.97256
0,100.403867,37.987244,31.596908,9999.0,0.012543,0.105257,30.151429,1994.786286,463.713724,22.843137,0.0,Dot_12,44.57798,37.97156
0,100.334848,39.579738,33.364119,9999.0,0.006000,0.057000,31.917143,1995.101048,462.860867,27.337851,0.0,Dot_13,44.57826,37.97086
0,100.377590,39.265779,29.261528,9999.0,0.008695,0.084581,32.165714,1995.475810,465.798295,22.534919,0.0,Dot_16,44.57808,37.97026
0,100.517010,38.543508,29.932908,9999.0,0.004000,0.042343,31.879048,1992.442095,455.822257,20.924054,0.0,Dot_15,44.57762,37.97102
0,100.661067,38.657699,30.907270,9999.0,0.008000,0.087286,32.080952,1990.776476,458.368457,21.770007,0.0,Dot_14,44.57711,37.97171

In [28]:
path_to_json = 'C:/Users/gorba/DataSciense/PET-projects/Gas_emission/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)

['18day.json', '22day.json', '4day.json', '8day.json']

In [73]:
df_total = pd.DataFrame()
for file in json_files:
        df = pd.read_json(file)
        dot_list = [] # Список названий точек измерений
        for i in df['datasets']:
            for new_s, new_val in i.items():
                dot_list.append(new_s)

#         print(file)
#         print(dot_list)
        j = 0
        df_result = pd.DataFrame()
        dot_names = []
        latitude_list = []
        longitude_list = []
        for item in df["datasets"]:
            try:
                dict_value = item[dot_list[j]]['reps']["REP_1"]['data']
                columns_names = dict_value.keys()

                df_value = pd.DataFrame(dict_value.items()) #Экспорт основных параметров
                df_value = df_value.T
                df_value.columns = df_value.iloc[0]
                df_value = df_value[1:]
                df_value = df_value.set_index(['timestamp']).apply(pd.Series.explode).reset_index()
                df_value.drop(columns=['timestamp'], inplace = True)

                df_result = df_result.append(df_value.mean().to_frame().T)
                dot_names.append(dot_list[j])

                
                latitude = item[dot_list[j]]['reps']["REP_1"]['header']['latitude'] # Добавление широты/долготы
                latitude_list.append(latitude)
                longitude = item[dot_list[j]]['reps']["REP_1"]['header']['longitude']
                longitude_list.append(longitude)
#                 print(dot_names)
#                 print(dict_value.items())
#                 print(j)
            except KeyError:
                pass
            j += 1
        df_result.insert(loc=0, column='Day', value=file)
        df_result.insert(loc=1, column='Dot', value=dot_names)
        df_result.insert(loc=2, column='latitude', value=latitude_list)
        df_result.insert(loc=3, column='longitude', value=longitude_list)
        df_total = df_total.append(df_result, ignore_index=True)
df_total.dropna(subset=['ch4', 'ch4'], inplace = True)

18day.json
['Dot_1', 'Dot_1_1', 'Dot_1_2', 'Dot_1_3', 'Dot_7', 'Dot_7_1', 'Dot_7_2', 'Dot_2', 'Dot_3', 'Dot_3_1', 'Dot_4', 'Dot_5', 'Dot_5_1', 'Dot_5_2', 'Dot_9', 'Dot_8', 'Dot_8_1', 'Dot_6', 'Dot_16', 'Dot_13', 'Dot_13_1', 'Dot_12', 'Dot_12_1', 'Dot_11', 'Dot_11_1', 'Dot_14', 'Dot_14_1', 'Dot_15']
22day.json
['Dot_1', 'Dot_1_1', 'Dot_1_2', 'Dot_7', 'Dot_7_1', 'Dot_2', 'Dot_3', 'Dot_3_1', 'Dot_3_2', 'Dot_4', 'Dot_5', 'Dot_9', 'Dot_9_1', 'Dot_8', 'Dot_6', 'Dot_6_1', 'Dot_16', 'Dot_16_1', 'Dot_13', 'Dot_12', 'Dot_12_1', 'Dot_11', 'Dot_14', 'Dot_15', 'Dot_15_1']
4day.json
['Dot_1', 'Dot_2', 'Dot_3', 'Dot_4', 'Dot_5', 'Dot_6', 'Dot_9', 'Dot_8', 'Dot_7', 'Dot_11', 'Dot_12', 'Dot_13', 'Dot_16', 'Dot_15', 'Dot_14']
8day.json
['Dot_0', 'Dot_0_1', 'Dot_1', 'Dot_7', 'Dot_7_1', 'Dot_2', 'Dot_2_1', 'Dot_2_2', 'Dot_3', 'Dot_3_1', 'Dot_4', 'Dot_5', 'Dot_5_1', 'Dot_6', 'Dot_9', 'Dot_8', 'Dot_16', 'Dot_13', 'Dot_12', 'Dot_11', 'Dot_11_1', 'Dot_10', 'Dot_10_1', 'Dot_15']

In [74]:
df_total.sample(10)

,Day,Dot,latitude,longitude,chamber_p,chamber_p_t,chamber_t,soil_t,soilp_c,soilp_m,soilp_t,ch4,co2,h2o,err
33,22day.json,Dot_2,44.57914,37.97307,100.809152,43.053632,31.189677,9999.0,0.014676,0.132467,37.321905,2019.917048,456.211143,22.785144,0.000000
77,8day.json,Dot_6,44.57910,37.97083,100.671305,43.522104,32.969187,9999.0,0.002552,0.035552,33.400000,2002.988190,449.464886,15.509461,0.000000
52,4day.json,Dot_4,44.58009,37.97146,99.945604,36.133319,25.737369,9999.0,0.009810,0.090381,26.700000,1993.931524,457.469200,22.717621,0.000000
58,4day.json,Dot_11,44.57818,37.97256,100.403771,37.683750,27.485199,9999.0,0.012362,0.107914,29.820000,1991.493143,461.161248,23.723212,0.000000
14,18day.json,Dot_9,44.57902,37.97140,99.976081,44.260435,31.723295,9999.0,0.031000,0.206000,35.103846,1986.123173,461.878212,28.326564,0.000000
17,18day.json,Dot_6,44.57911,37.97087,99.951811,44.571923,32.635745,9999.0,0.020000,0.159686,35.688571,1991.183810,480.274724,28.449776,0.000000
65,8day.json,Dot_0_1,44.57888,37.97353,100.829495,35.960892,29.275015,9999.0,0.001000,0.005000,28.900000,2057.794667,461.824105,16.957494,4.342857
10,18day.json,Dot_4,44.58000,37.97147,99.815961,42.391745,28.879266,9999.0,0.008543,0.086371,31.020000,1988.512381,451.465667,26.713602,0.000000
40,22day.json,Dot_8,44.57925,37.97220,100.762905,43.217660,35.175070,9999.0,0.017162,0.147514,34.550476,2012.266190,446.337276,18.633510,0.000000
50,4day.json,Dot_2,44.57914,37.97299,100.107133,34.316670,26.042654,9999.0,0.037000,0.244238,26.247619,1992.825905,499.350819,25.653075,0.000000

In [75]:
df_total.to_excel('df_total.xlsx')