In [35]:
import pandas as pd
import numpy as np
from numpy import int32
from datetime import datetime, timedelta

In [4]:
data = pd.read_excel('julian_data.xlsx')

In [5]:
df = data.copy()

In [12]:
df.rename(columns={"Unnamed: 44": "datetime"}, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4996 entries, 0 to 4995
Data columns (total 45 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Julian Day                     4996 non-null   float64
 1   Chamber Number                 4996 non-null   int64
 2   Measurement Duration (s)       4996 non-null   int64
 3   Deadband Start (pts)           4996 non-null   int64
 4   Deadband End (pts)             4996 non-null   int64
 5           Mean CO2 (ppm)         4996 non-null   float64
 6           Mean CH4 (ppm)         4996 non-null   float64
 7           Mean N2O (ppm)         4996 non-null   float64
 8           Mean NH3 (ppm)         4996 non-null   float64
 9           Mean H2O (percent)     4996 non-null   float64
 10       Chem Detect (0/1)         4996 non-null   float64
 11     Cav. Pressure (kPa)         4996 non-null   float64
 12  Cav. Temperature (K)           4996 non-null   float64
 13     Water Content (fraction)    4996 non-null   float64
 14  Chmbr. Temperature (K)         4996 non-null   float64
 15   Chmbr. Pressure (kPa)         4996 non-null   float64
 16      Flux CO2 (L) (umol/m^2/s)  4996 non-null   float64
 17      Flux CO2 (E) (umol/m^2/s)  4996 non-null   float64
 18      Flux CH4 (L) (nmol/m^2/s)  4996 non-null   float64
 19      Flux CH4 (E) (nmol/m^2/s)  4996 non-null   float64
 20      Flux N2O (L) (nmol/m^2/s)  4996 non-null   float64
 21      Flux N2O (E) (nmol/m^2/s)  4996 non-null   float64
 22      Flux NH3 (L) (umol/m^2/s)  4996 non-null   float64
 23      Flux NH3 (E) (umol/m^2/s)  4996 non-null   float64
 24    e_Flux CO2 (L) (umol/m^2/s)  4996 non-null   float64
 25    e_Flux CO2 (E) (umol/m^2/s)  4996 non-null   float64
 26    e_Flux CH4 (L) (nmol/m^2/s)  4996 non-null   float64
 27    e_Flux CH4 (E) (nmol/m^2/s)  4996 non-null   float64
 28    e_Flux N2O (L) (nmol/m^2/s)  4996 non-null   float64
 29    e_Flux N2O (E) (nmol/m^2/s)  4996 non-null   float64
 30    e_Flux NH3 (L) (umol/m^2/s)  4996 non-null   float64
 31    e_Flux NH3 (E) (umol/m^2/s)  4996 non-null   float64
 32          Soil VWC (%)           4996 non-null   float64
 33  Soil Temperature (degC)        4996 non-null   float64
 34     AUX Voltage 3 (V)           4996 non-null   float64
 35     AUX Current 1 (mA)          4996 non-null   float64
 36     AUX Current 2 (mA)          4996 non-null   float64
 37  c (Linear Intercept)           4996 non-null   float64
 38  f (Linear Slope)               4996 non-null   float64
 39  c (Exponential Intercept)      4996 non-null   float64
 40  d (Exponential Multiplier)     4996 non-null   float64
 41  a (Exponential Exponent)       4996 non-null   float64
 42  Error Code                     4996 non-null   int64
 43  Metadata                       4996 non-null   object
 44  datetime                       1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(38), int64(5), object(1)
memory usage: 1.7+ MB

In [17]:
# df['int_date'] = int(df['Julian Day'])
df['int_date'] = df['Julian Day'].astype(int)

In [39]:
df.sample(5)

,Julian Day,Chamber Number,Measurement Duration (s),Deadband Start (pts),Deadband End (pts),Mean CO2 (ppm),Mean CH4 (ppm),Mean N2O (ppm),Mean NH3 (ppm),Mean H2O (percent),...,AUX Current 2 (mA),c (Linear Intercept),f (Linear Slope),c (Exponential Intercept),d (Exponential Multiplier),a (Exponential Exponent),Error Code,Metadata,datetime,int_date
4721,251.522546,7,693,39,1,490.135107,2.079330,0.164818,13.216600,1.381602,...,0.0,423.301575,0.209584,563.918227,-167.974341,0.003065,0,Measurement #0813 from eosAC # 7,NaT,251
2570,219.358542,8,693,39,1,486.791886,2.389988,0.098974,9.675550,2.356591,...,0.0,438.545998,0.151428,530.748556,-118.584312,0.003877,0,Measurement #0703 from eosAC # 8,NaT,219
1500,207.481146,2,692,39,1,442.446930,2.056603,0.087785,10.050254,2.379569,...,0.0,419.392008,0.072335,495.427438,-79.756379,0.001385,0,Measurement #1238 from eosAC # 2,NaT,207
4035,244.314410,5,695,39,1,492.023136,2.967113,0.138383,6.677319,2.097033,...,0.0,456.189296,0.111815,534.111203,-91.237659,0.002833,0,Measurement #0127 from eosAC # 5,NaT,244
4084,244.825208,9,693,39,1,523.068602,2.737403,0.166066,4.333975,1.532105,...,0.0,473.583175,0.155340,588.782337,-130.502020,0.002474,0,Measurement #0176 from eosAC # 9,NaT,244

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4996 entries, 0 to 4995
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Julian Day                     4996 non-null   float64
 1   Chamber Number                 4996 non-null   int64
 2   Measurement Duration (s)       4996 non-null   int64
 3   Deadband Start (pts)           4996 non-null   int64
 4   Deadband End (pts)             4996 non-null   int64
 5           Mean CO2 (ppm)         4996 non-null   float64
 6           Mean CH4 (ppm)         4996 non-null   float64
 7           Mean N2O (ppm)         4996 non-null   float64
 8           Mean NH3 (ppm)         4996 non-null   float64
 9           Mean H2O (percent)     4996 non-null   float64
 10       Chem Detect (0/1)         4996 non-null   float64
 11     Cav. Pressure (kPa)         4996 non-null   float64
 12  Cav. Temperature (K)           4996 non-null   float64
 13     Water Content (fraction)    4996 non-null   float64
 14  Chmbr. Temperature (K)         4996 non-null   float64
 15   Chmbr. Pressure (kPa)         4996 non-null   float64
 16      Flux CO2 (L) (umol/m^2/s)  4996 non-null   float64
 17      Flux CO2 (E) (umol/m^2/s)  4996 non-null   float64
 18      Flux CH4 (L) (nmol/m^2/s)  4996 non-null   float64
 19      Flux CH4 (E) (nmol/m^2/s)  4996 non-null   float64
 20      Flux N2O (L) (nmol/m^2/s)  4996 non-null   float64
 21      Flux N2O (E) (nmol/m^2/s)  4996 non-null   float64
 22      Flux NH3 (L) (umol/m^2/s)  4996 non-null   float64
 23      Flux NH3 (E) (umol/m^2/s)  4996 non-null   float64
 24    e_Flux CO2 (L) (umol/m^2/s)  4996 non-null   float64
 25    e_Flux CO2 (E) (umol/m^2/s)  4996 non-null   float64
 26    e_Flux CH4 (L) (nmol/m^2/s)  4996 non-null   float64
 27    e_Flux CH4 (E) (nmol/m^2/s)  4996 non-null   float64
 28    e_Flux N2O (L) (nmol/m^2/s)  4996 non-null   float64
 29    e_Flux N2O (E) (nmol/m^2/s)  4996 non-null   float64
 30    e_Flux NH3 (L) (umol/m^2/s)  4996 non-null   float64
 31    e_Flux NH3 (E) (umol/m^2/s)  4996 non-null   float64
 32          Soil VWC (%)           4996 non-null   float64
 33  Soil Temperature (degC)        4996 non-null   float64
 34     AUX Voltage 3 (V)           4996 non-null   float64
 35     AUX Current 1 (mA)          4996 non-null   float64
 36     AUX Current 2 (mA)          4996 non-null   float64
 37  c (Linear Intercept)           4996 non-null   float64
 38  f (Linear Slope)               4996 non-null   float64
 39  c (Exponential Intercept)      4996 non-null   float64
 40  d (Exponential Multiplier)     4996 non-null   float64
 41  a (Exponential Exponent)       4996 non-null   float64
 42  Error Code                     4996 non-null   int64
 43  Metadata                       4996 non-null   object
 44  datetime                       1 non-null      datetime64[ns]
 45  int_date                       4996 non-null   int32
dtypes: datetime64[ns](1), float64(38), int32(1), int64(5), object(1)
memory usage: 1.7+ MB

In [61]:
df.head()

,Julian Day,Chamber Number,Measurement Duration (s),Deadband Start (pts),Deadband End (pts),Mean CO2 (ppm),Mean CH4 (ppm),Mean N2O (ppm),Mean NH3 (ppm),Mean H2O (percent),...,AUX Current 2 (mA),c (Linear Intercept),f (Linear Slope),c (Exponential Intercept),d (Exponential Multiplier),a (Exponential Exponent),Error Code,Metadata,datetime,int_date
0,174.552963,1,2226,39,1,427.205409,2.015021,0.391231,46.692190,1.549554,...,0.0,414.751637,0.011328,8941.106174,-8526.353571,0.000001,0,Measurement #0001 from eosAC # 1,2022-06-23,174
1,174.595706,1,695,39,1,597.435564,2.009837,0.455666,24.208477,2.264422,...,0.0,440.796395,0.474818,742.262016,-385.754879,0.003683,0,Measurement #0002 from eosAC # 1,NaT,174
2,174.605104,2,695,39,1,648.909945,2.011832,0.439296,24.721788,1.978770,...,0.0,459.062470,0.574146,817.694334,-467.150909,0.003860,0,Measurement #0003 from eosAC # 2,NaT,174
3,174.614502,3,695,39,1,638.593568,2.010531,0.526740,12.648126,3.843384,...,0.0,455.285170,0.554950,804.930419,-451.211701,0.003766,0,Measurement #0004 from eosAC # 3,NaT,174
4,174.624016,4,693,39,1,560.740119,2.013847,0.485763,111.885743,3.555079,...,0.0,436.178842,0.377586,687.654967,-308.574246,0.003255,0,Measurement #0005 from eosAC # 4,NaT,174

In [69]:
for i in range(len(df)):
    if df['int_date'].loc[i+1] != df['int_date'].loc[i]:
        df['datetime'].loc[i+1] = df['datetime'].loc[i] + timedelta(days = int(df['int_date'].loc[i+1] - df['int_date'].loc[i]))
    else:
        df['datetime'].loc[i+1] = df['datetime'].loc[i]

In [66]:
# df.to_excel('all_with_data.xlsx')

In [70]:
df_group = df.groupby([df['datetime'].dt.date]).mean()

In [72]:
df_group.to_excel('all_with_data_gro.xlsx')

In [73]:
df

,Julian Day,Chamber Number,Measurement Duration (s),Deadband Start (pts),Deadband End (pts),Mean CO2 (ppm),Mean CH4 (ppm),Mean N2O (ppm),Mean NH3 (ppm),Mean H2O (percent),...,AUX Current 2 (mA),c (Linear Intercept),f (Linear Slope),c (Exponential Intercept),d (Exponential Multiplier),a (Exponential Exponent),Error Code,Metadata,datetime,int_date
0,174.552963,1,2226,39,1,427.205409,2.015021,0.391231,46.692190,1.549554,...,0.0,414.751637,0.011328,8941.106174,-8526.353571,0.000001,0,Measurement #0001 from eosAC # 1,2022-06-23,174
1,174.595706,1,695,39,1,597.435564,2.009837,0.455666,24.208477,2.264422,...,0.0,440.796395,0.474818,742.262016,-385.754879,0.003683,0,Measurement #0002 from eosAC # 1,2022-06-23,174
2,174.605104,2,695,39,1,648.909945,2.011832,0.439296,24.721788,1.978770,...,0.0,459.062470,0.574146,817.694334,-467.150909,0.003860,0,Measurement #0003 from eosAC # 2,2022-06-23,174
3,174.614502,3,695,39,1,638.593568,2.010531,0.526740,12.648126,3.843384,...,0.0,455.285170,0.554950,804.930419,-451.211701,0.003766,0,Measurement #0004 from eosAC # 3,2022-06-23,174
4,174.624016,4,693,39,1,560.740119,2.013847,0.485763,111.885743,3.555079,...,0.0,436.178842,0.377586,687.654967,-308.574246,0.003255,0,Measurement #0005 from eosAC # 4,2022-06-23,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,254.360336,7,693,39,1,488.937232,2.688407,0.113098,10.333700,2.239655,...,0.0,437.251476,0.162483,545.773953,-129.625881,0.003085,0,Measurement #1083 from eosAC # 7,2022-09-11,254
4992,254.369491,8,718,39,1,456.544093,2.687553,0.129024,12.861047,1.967407,...,0.0,427.440251,0.087862,494.231906,-76.295043,0.002456,0,Measurement #1084 from eosAC # 8,2022-09-11,254
4993,254.379306,9,691,39,1,477.160941,2.545945,0.127986,10.659431,2.279982,...,0.0,430.509818,0.146886,527.660924,-116.805961,0.003154,0,Measurement #1085 from eosAC # 9,2022-09-11,254
4994,254.388438,10,720,39,1,519.986285,2.526498,0.145704,11.863734,1.940265,...,0.0,425.334536,0.285787,668.176586,-267.187104,0.001999,0,Measurement #1086 from eosAC #10,2022-09-11,254
4995,254.398113,1,620,39,1,492.545146,2.490371,0.095604,10.432836,2.442635,...,0.0,420.390668,0.256484,4158.257817,-3738.336294,0.000070,0,Measurement #1087 from eosAC # 1,2022-09-11,254

In [75]:
df_group = df.groupby(['Chamber Number',df['datetime'].dt.date]).mean()

In [77]:
df_group.to_excel('all_with_data_gro.xlsx')